<ul>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.en | getUrl"
      (click)="setLanguage($event, languages.en)"
      [class.active]="lang === languages.en"
    >
      <app-icon [icon]="'usa'"></app-icon>
      <span>English</span>
    </a>
  </li>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.ru | getUrl"
      (click)="setLanguage($event, languages.ru)"
      [class.active]="lang === languages.ru"
    >
      <app-icon [icon]="'russia'"></app-icon>
      <span>Русский</span>
    </a>
  </li>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.de | getUrl"
      (click)="setLanguage($event, languages.de)"
      [class.active]="lang === languages.de"
    >
      <app-icon [icon]="'germany'"></app-icon>
      <span>Deutsch</span>
    </a>
  </li>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.es | getUrl"
      (click)="setLanguage($event, languages.es)"
      [class.active]="lang === languages.es"
    >
      <app-icon [icon]="'spain'"></app-icon>
      <span>Español</span>
    </a>
  </li>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.ptBR | getUrl"
      (click)="setLanguage($event, languages.ptBR)"
      [class.active]="lang === languages.ptBR"
    >
      <app-icon [icon]="'portugal'"></app-icon>
      <span>Português</span>
    </a>
  </li>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.fr | getUrl"
      (click)="setLanguage($event, languages.fr)"
      [class.active]="lang === languages.fr"
    >
      <app-icon [icon]="'france'"></app-icon>
      <span>Français</span>
    </a>
  </li>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.ja | getUrl"
      (click)="setLanguage($event, languages.ja)"
      [class.active]="lang === languages.ja"
    >
      <app-icon [icon]="'japan'"></app-icon>
      <span>日本語</span>
    </a>
  </li>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.ko | getUrl"
      (click)="setLanguage($event, languages.ko)"
      [class.active]="lang === languages.ko"
    >
      <app-icon [icon]="'south-korea'"></app-icon>
      <span>한국어</span>
    </a>
  </li>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.zhCN | getUrl"
      (click)="setLanguage($event, languages.zhCN)"
      [class.active]="lang === languages.zhCN"
    >
      <app-icon [icon]="'china'"></app-icon>
      <span>简体中文</span>
    </a>
  </li>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.zhTW | getUrl"
      (click)="setLanguage($event, languages.zhTW)"
      [class.active]="lang === languages.zhTW"
    >
      <app-icon [icon]="'china'"></app-icon>
      <span>繁體中文</span>
    </a>
  </li>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.hi | getUrl"
      (click)="setLanguage($event, languages.hi)"
      [class.active]="lang === languages.hi"
    >
      <app-icon [icon]="'india'"></app-icon>
      <span>हिंदी</span>
    </a>
  </li>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.tr | getUrl"
      (click)="setLanguage($event, languages.tr)"
      [class.active]="lang === languages.tr"
    >
      <app-icon [icon]="'turkey'"></app-icon>
      <span>Türkçe</span>
    </a>
  </li>
  <li>
    <a
      class="stack horizontal align-center small"
      [href]="languages.it | getUrl"
      (click)="setLanguage($event, languages.it)"
      [class.active]="lang === languages.it"
    >
      <app-icon [icon]="'italy'"></app-icon>
      <span>Italiana</span>
    </a>
  </li>
</ul>
