<ul>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.en | getUrl"
      (click)="setLanguage($event, languages.en)"
      [class.active]="lang === languages.en"
    >
      <app-icon [icon]="'en'" [size]="18"></app-icon>
      <span>English</span>
    </a>
  </li>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.ru | getUrl"
      (click)="setLanguage($event, languages.ru)"
      [class.active]="lang === languages.ru"
    >
      <app-icon [icon]="'ru'" [size]="18"></app-icon>
      <span>Русский</span>
    </a>
  </li>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.de | getUrl"
      (click)="setLanguage($event, languages.de)"
      [class.active]="lang === languages.de"
    >
      <app-icon [icon]="'de'" [size]="18"></app-icon>
      <span>Deutsch</span>
    </a>
  </li>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.es | getUrl"
      (click)="setLanguage($event, languages.es)"
      [class.active]="lang === languages.es"
    >
      <app-icon [icon]="'es'" [size]="18"></app-icon>
      <span>Español</span>
    </a>
  </li>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.ptBR | getUrl"
      (click)="setLanguage($event, languages.ptBR)"
      [class.active]="lang === languages.ptBR"
    >
      <app-icon [icon]="'pt-BR'" [size]="18"></app-icon>
      <span>Português</span>
    </a>
  </li>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.fr | getUrl"
      (click)="setLanguage($event, languages.fr)"
      [class.active]="lang === languages.fr"
    >
      <app-icon [icon]="'fr'" [size]="18"></app-icon>
      <span>Français</span>
    </a>
  </li>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.ja | getUrl"
      (click)="setLanguage($event, languages.ja)"
      [class.active]="lang === languages.ja"
    >
      <app-icon [icon]="'ja'" [size]="18"></app-icon>
      <span>日本語</span>
    </a>
  </li>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.ko | getUrl"
      (click)="setLanguage($event, languages.ko)"
      [class.active]="lang === languages.ko"
    >
      <app-icon [icon]="'ko'" [size]="18"></app-icon>
      <span>한국어</span>
    </a>
  </li>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.zhCN | getUrl"
      (click)="setLanguage($event, languages.zhCN)"
      [class.active]="lang === languages.zhCN"
    >
      <app-icon [icon]="'zh-CN'" [size]="18"></app-icon>
      <span>简体中文</span>
    </a>
  </li>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.zhTW | getUrl"
      (click)="setLanguage($event, languages.zhTW)"
      [class.active]="lang === languages.zhTW"
    >
      <app-icon [icon]="'zh-TW'" [size]="18"></app-icon>
      <span>繁體中文</span>
    </a>
  </li>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.hi | getUrl"
      (click)="setLanguage($event, languages.hi)"
      [class.active]="lang === languages.hi"
    >
      <app-icon [icon]="'hi'" [size]="18"></app-icon>
      <span>हिंदी</span>
    </a>
  </li>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.tr | getUrl"
      (click)="setLanguage($event, languages.tr)"
      [class.active]="lang === languages.tr"
    >
      <app-icon [icon]="'tr'" [size]="18"></app-icon>
      <span>Türkçe</span>
    </a>
  </li>
  <li>
    <a
      class="stack align-center small"
      [href]="languages.it | getUrl"
      (click)="setLanguage($event, languages.it)"
      [class.active]="lang === languages.it"
    >
      <app-icon [icon]="'it'" [size]="18"></app-icon>
      <span>Italiana</span>
    </a>
  </li>
</ul>
