@import "src/ui-kit/styles/variables";

:host-context(app-modal) {
  border-radius: 20px;

  p {
    font-size: 1.2em;
  }
}

:host-context(.onsite) {
  position: absolute;
}

:host-context(.blurred) {
  backdrop-filter: blur(5px);
}

:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 !important;
  z-index: 150;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(black, 0.75);
  padding: 40px;
}

p {
  color: white;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
}