@import '../styles/variables';
@import '../styles/mixins';

:host {
    display: block;
}

.cards,
.lines {
    display: grid;
    gap: $gutter-normal;

    >div {
        height: 100px;
        background: $control-background-color;
    }
}

.cards {
    @include for-mobile() {
        grid-template-columns: 1fr !important;
    }
}