@import 'src/ui-kit/styles/mixins';
@import 'src/ui-kit/styles/variables';
@import 'src/ui-kit/styles/reset';

$header-horizontal-padding: $gutter-large;
$cancel-icon-size: 24px;
$modal-horizontal-spacing: 5px;

:host {
  display: none;

  &.opened {
    display: block;
  }

  @include for-mobile() {
    position: fixed;
    top: 0;
    z-index: 150;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    padding: $gutter-big;
    box-sizing: border-box;
  }

}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, .55);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 150;
  backdrop-filter: blur(5px);
}

.ui-modal {
  animation: fade-in 200ms;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
  box-sizing: border-box;
  box-shadow: $shadow-normal;
  border-radius: $corner-large;
  background-color: white;
  border: 1px solid $graphite-color-200;

  z-index: 200;

  @include for-mobile() {
    top: $gutter-tiny !important;
    left: $gutter-tiny !important;
    right: $gutter-tiny !important;
    transform: none !important;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: $gutter-large $header-horizontal-padding $gutter-small $header-horizontal-padding;
    border-top-left-radius: $corner-large;
    border-top-right-radius: $corner-large;

    h1 {
      font-size: 1.2em;
      margin: 0;
      padding: 0;
      text-transform: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      color: $primary-color;
    }

    .close {
      display: flex;
      align-items: center;

      span {
        font-size: 14px;
        color: silver;
        margin-right: $gutter-tiny;
      }

      button {
        @include reset-button();

        &:hover {
          svg {
            stroke: $accent-color;
          }
        }
      }
    }
  }

  .content {
    padding: $gutter-small $gutter-large $gutter-large;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @include for-mobile() {
    .content {
      padding: $gutter-small $gutter-normal $gutter-normal;
    }
  }

}