@import "../variables";
@import "../reset";

%button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    color: $button-text-color;
    font-family: $primary-font-family;
    font-size: $button-font-size;
    line-height: 1.4;
    background-color: $button-background-color;
    border: 1px solid $button-border-color;
    border-radius: $corner-base;
    padding: $gutter-small $gutter-huge;
    appearance: none;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    transition: all 0.15s;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;

    &.with-icon {
        &.only-icon {
            padding: $gutter-small;
        }

        .icon {
            svg.stroke {
                stroke: $button-text-color;
            }

            &.left {
                margin-right: $gutter-small;
            }

            &.right {
                margin-left: $gutter-small;
            }
        }
    }

    .badge {
        margin-left: $gutter-tiny;
    }

    &.fluid {
        width: 100%;
    }

    @keyframes spinner {
        to {
            transform: rotate(360deg);
        }
    }

    &.busy {
        color: rgba($button-text-color, 0.1);
        opacity: 0.9;

        &:disabled {
            pointer-events: none;
        }

        .icon {
            opacity: 0;
        }

        &:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            margin-left: -10px;
            border-radius: 50%;
            border-top: 2px solid $button-text-color;
            border-right: 2px solid transparent;
            animation: spinner 0.6s linear infinite;
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .75;
    }

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            background-color: $button-hover-background-color;
        }

        &.active,
        &:active {
            transform: translateY(2px);
        }
    }
}

%button-primary {
    @extend %button;
}

%button-small {
    padding: $gutter-small $gutter-normal;
    font-size: 14px;

    &.with-icon {
        padding: $gutter-small;
    }
}

%button-circle {
    @include reset-button();

    display: inline-flex;
    position: relative;
    border-radius: 50%;
    border: 1px solid $button-border-color;
    background: $button-background-color;
    box-sizing: border-box;
    aspect-ratio: 1;
    padding: $gutter-small;
    transition: all 0.15s;

    &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .75;
    }

    &:not(:disabled) {
        &:hover {
            color: $button-hover-text-color;
            background: $button-hover-background-color;

            .icon svg {
                stroke: $button-hover-text-color;
            }
        }
    }

    &.toggled {
        background: $button-toggled-background-color;
    }

    &.light {
        background: $graphite-color-50;

        &:hover {
            background: $primary-light-color;
        }
    }

    &.small {
        padding: $gutter-tiny;
    }

    &.busy {
        color: rgba(white, 0.1);
        opacity: 0.9;

        &:disabled {
            pointer-events: none;
        }

        .icon {
            opacity: 0;
        }

        &:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 18px;
            height: 18px;
            margin-top: -9px;
            margin-left: -9px;
            border-radius: 50%;
            border-top: 2px solid $button-text-color;
            border-right: 2px solid transparent;
            animation: spinner 0.6s linear infinite;
        }
    }

    .icon {
        svg.stroke {
            stroke: $button-text-color;
        }
    }
}