@import 'src/ui-kit/styles/mixins';
@import 'src/ui-kit/styles/variables';

:host {
    position: absolute;
    z-index: 105;
    user-select: text;
    padding: 0;
    display: none;
    box-sizing: border-box;

    @include for-mobile() {
        box-sizing: border-box;
        max-width: 100%;
        max-height: 100vh;
    }

    [data-arrow] {
        position: absolute;
        z-index: 2;
    }

    &[data-dropdown='false'] {
        padding: 12px;
    }

    &[data-dropdown='true'] {

        &[data-placement='bottom'],
        &[data-placement='rightBottom'] {
            padding: $gutter-tiny 0 0;
        }

        &[data-placement='top'] {
            padding: 0 0 $gutter-tiny;
        }

        &[data-placement='right'] {
            padding: 0 0 0 $gutter-tiny;
        }

        &[data-placement='left'] {
            padding: 0 $gutter-tiny 0 0;
        }

        [data-arrow] {
            display: none;
        }

        @include for-mobile() {
            padding: $gutter-tiny 12px 12px;
        }
    }

    &[data-placement='top'] {
        [data-arrow] {
            transform: translateX(-50%);
            bottom: 0;
        }
    }

    &[data-placement='right'] {
        [data-arrow] {
            transform: translateY(-50%) rotate(90deg);
            left: 0;
        }
    }

    &[data-placement='bottom'] {
        [data-arrow] {
            transform: translateX(-50%) rotate(180deg);
            top: 0;
        }
    }

    &[data-placement='rightBottom'] {
        [data-arrow] {
            transform: translateX(-50%) rotate(180deg);
            top: 0;
        }
    }

    &[data-placement='left'] {
        [data-arrow] {
            transform: translateY(-50%) rotate(-90deg);
            right: 0;
        }
    }

    &[data-content-is-text='true'] {
        animation: fade-in 500ms;

        [data-wrapper] {
            padding: $gutter-small;
            font-size: $font-size-small;
        }
    }
}

[data-wrapper] {
    border-radius: $corner-base;
    overflow: auto;
    box-sizing: border-box;
    background-color: white;
    padding: $gutter-normal;
    box-shadow: 0 6px 9px 0 #00000059;
    border: 1px solid #eaeaea;

    position: relative;
    z-index: 1;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        margin-right: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: unset;
        border-radius: unset;
        margin-right: 0;
    }

    [data-title] {
        font-weight: bold;
        margin-bottom: $gutter-normal;
        color: $primary-dark-color;
    }

    [data-content] {
        color: $primary-dark-color;
    }
}