<img
  #arrow
  class="arrow"
  [src]="'ui-kit/assets/popover-arrow.svg'"
  width="26"
  height="26"
/>

<div
  class="popover"
  role="popover"
  [ngStyle]="{ 'max-height': options.maxHeight, 'max-width': options.maxWidth }"
>
  <div class="title" *ngIf="options.title">{{ options.title | i18n }}</div>

  <div class="content">
    <ng-container *ngIf="!!contentText">{{ contentText }}</ng-container>
    <ng-container #container>
      <ng-container *ngTemplateOutlet="contentTemplate"> </ng-container>
    </ng-container>
  </div>
</div>
