@import "variables";

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $gutter-tiny;
    background: rgba($primary-color, .5);
    border-radius: $corner-small;
    font-size: $font-size-small;
    line-height: .85em;

    &.errors {
        background: $error-color;
    }

    &.success {
        background: $success-color;
    }
}