@import "variables";
@import "reset";
@import "defs/buttons";

button.primary,
button.primary-button,
a.primary,
a.primary-button {
  @extend %button-primary;

  &.small,
  &.small-button {
    @extend %button-small;
  }

  &.fluid {
    width: 100%;
  }

  &:visited {
    color: white;
  }
}

button.transparent {
  @include reset-button();
  display: inline-flex;
  background-color: transparent;
  position: relative;

  &.busy {
    color: rgba(white, 0.1);
    opacity: 0.9;
    pointer-events: none;

    .icon {
      opacity: 0;
    }

    &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
      border-radius: 50%;
      border-top: 2px solid $primary-dark-color;
      border-right: 2px solid transparent;
      animation: spinner 0.6s linear infinite;
    }
  }

  .icon {
    svg {
      stroke: $button-text-color;
    }
  }
}

button.delete-button,
a.delete-button {
  @extend %button;
  border-color: $accent-color;
  color: $accent-color;
}

button.circle,
a.circle {
  @extend %button-circle;
}