@import "variables";
@import "reset";

.cards {
  display: grid;
  gap: $gutter-big;
  grid-template-columns: 1fr;

  &.cols4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: white;
  position: relative;

  &.disabled {
    opacity: .75;
    pointer-events: none;
  }

  header {
    margin: $gutter-small 0;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 16px;
      text-align: center;
      vertical-align: middle;

      .icon {
        margin-right: 5px;
        display: inline-block;
      }
    }

    button.actions {
      @include reset-button();
      position: absolute;
      z-index: 5;
      top: -$gutter-small;
      left: -$gutter-small;
      padding: $gutter-tiny;
      border-radius: $corner-base;
      cursor: pointer;
      border: 2px solid white;
      background-color: white;
      display: flex;
      align-items: center;

      .icon {
        display: block;
      }

      &:hover {
        background: $primary-light-color;
      }
    }
  }

  article {
    position: relative;
    flex: 1;
    padding: $gutter-normal;

    h3 {
      font-size: 1.2rem;
      margin: $gutter-small 0;
    }
  }

  footer {
    padding: $gutter-small;
    font-size: $font-size-small;
  }
}