@import "variables";
@import "mixins";

.drawler {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  background-color: rgba($overlay-background, 0.6);
  backdrop-filter: blur(5px);
  padding: $gutter-huge;
  opacity: 1;
  transition: transform 150ms ease-in-out;
  box-shadow: 0 0 10px rgba(black, 0.5);
  overflow: scroll;
  gap: $gutter-normal;

  &.hidden {
    opacity: 0;
    transform: translateX(100%);
  }

  &.left,
  &.right {
    top: 0;
    bottom: 0;
    transform: translateX(0);
    width: 250px;
    max-width: 250px;

    &.wide {
      width: 500px;
      max-width: 500px;
    }
  }

  &.left {
    left: 0;
    border-right: 1px solid $graphite-color-200;

    &.hidden {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  &.right {
    right: 0;
    border-left: 1px solid $graphite-color-200;

    &.hidden {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  &.bottom {
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-top: 1px solid $graphite-color-200;

    &.hidden {
      opacity: 0;
      transform: translateY(100%);
    }

    &.shift-left {
      left: 290px;
    }

    &.shift-right {
      right: 290px;
    }
  }

  >header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-weight: bold;
    }

    @include less-tablet() {
      margin: $gutter-small;
    }
  }

  >.content {
    flex: 1;
    display: flex;
    flex-direction: column;

    @include less-tablet() {
      margin: $gutter-small;
    }
  }
}