@import "variables";
@import "mixins";
@import "defs/forms";

form {
  .errors {
    font-size: $font-size-small;
    color: $error-color;
  }
}

.input-primary {
  @extend %input-primary;

  &.error {
    border-color: $error-color;
  }
}

.select-primary {
  @extend %select-primary;
}

fieldset {
  border: none;
  padding: 0;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  label {
    font-size: 0.85em;
    font-weight: bold;
  }
}

.checkbox {
  position: relative;

  input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  *,
  .checkbox ::after,
  .checkbox ::before {
    box-sizing: border-box;
  }

  .switch {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
  }

  .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow:
      0 0 0 2px #777,
      0 0 4px #777;
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.2s;

    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: #777;
      border-radius: 30px;
      transform: translateX(-30px);
      transition: 0.2s;
    }
  }

  input:checked+.slider:before {
    transform: translateX(30px);
    background-color: $primary-color;
  }

  input:checked+.slider {
    box-shadow:
      0 0 0 2px $primary-color,
      0 0 8px $primary-color;
  }

  &.small {
    .switch {
      width: 40px;
      height: 24px;
    }

    .slider {
      border-radius: 20px;

      &:before {

        border-radius: 20px;
        transform: translateX(-15px);
      }
    }

    input:checked+.slider:before {
      transform: translateX(15px);
    }
  }
}

.switcher {
  border-radius: $corner-base;
  display: flex;
  background: $control-background-color;
  width: fit-content;
  box-sizing: border-box;
  border: 4px solid $control-background-color;
  overflow: hidden;

  &.disabled {
    pointer-events: none;
    opacity: .85;
  }

  &.fluid {
    width: 100%;
  }

  &.with-icon {
    label.option {
      padding: $gutter-small $gutter-normal;
    }
  }

  label.option {
    border-radius: $corner-base;
    padding: 12px $gutter-normal;
    color: $primary-text-color;
    font-size: $font-size-base;
    line-height: 1;
    box-sizing: border-box;
    white-space: nowrap;
    position: relative;
    flex: 1;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .3s;

    app-icon svg {
      stroke: $accent-color;
    }

    @include for-mobile() {
      font-size: $font-size-normal;
      padding: $gutter-small;
      width: 100%;
    }

    &:has(input:checked),
    &.selected {
      color: white;
      background-color: $primary-color;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}