@import "variables";
@import "mixins";

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(black, 0.5);
  backdrop-filter: blur(5px);
  margin: 0 !important;

  &.hidden {
    display: none;
  }

  >header {
    margin: $gutter-normal;
    text-align: right;

    @include less-tablet() {
      margin: $gutter-small;
    }
  }

  >.content {
    margin: $gutter-normal;
    overflow: scroll;
    flex: 1;
    display: flex;
    flex-direction: column;

    @include less-tablet() {
      margin: $gutter-small;
    }

    &.filled {
      background-color: $overlay-background;
      padding: $gutter-normal;
      border-radius: 5px;
    }

    &.centered {
      align-items: center;
    }
  }
}