@import "variables";

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(black, 0.5);
  backdrop-filter: blur(5px);

  &.hidden {
    display: none;
  }

  >header {
    margin: 20px;
    text-align: right;
  }

  >.content {
    margin: 20px;
    overflow: scroll;
    flex: 1;

    &.filled {
      background-color: #f6f5fb;
      padding: 20px;
      border-radius: 5px;
    }

    &.centered {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}