@import "variables";
@import "mixins";

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  background-color: $overlay-background;
  padding: $gutter-huge;
  opacity: 1;
  transform: translateX(0);
  transition: all 150ms ease-in-out;
  border-left: 1px solid $graphite-color-200;
  box-shadow: 0 0 10px rgba(black, 0.5);
  overflow: scroll;

  &.hidden {
    opacity: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    right: unset;

    &.hidden {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  >header {
    margin: $gutter-normal;
    text-align: right;

    @include less-tablet() {
      margin: $gutter-small;
    }
  }

  >.content {
    flex: 1;
    display: flex;
    flex-direction: column;

    @include less-tablet() {
      margin: $gutter-small;
    }
  }
}