@import "variables";
@import "mixins";

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

table.default {
  background-image: radial-gradient(circle, #00ff9d0d, #0000 50%), radial-gradient(circle at 80% 20%, #7000ff14, #0000 40%);
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba($graphite-color-60, 0.1);
  width: 100%;
  overflow: hidden;

  tr {
    &.loading {

      td {
        height: 50px;
        position: relative;

        &:before {
          content: "";
          box-sizing: border-box;
          position: absolute;
          bottom: 30%;
          left: 50%;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border-top: 2px solid white;
          border-right: 2px solid transparent;
          animation: spinner 0.6s linear infinite;
        }
      }
    }
  }

  th {
    text-align: left;
    padding: 10px 20px;
  }

  td {
    padding: 10px;

    a.default {
      padding-bottom: $gutter-tiny;
    }
  }

  @include less-tablet() {
    display: block;

    tbody,
    td,
    tr {
      display: block;
      width: auto;
    }

    thead {
      display: none;
    }

    tbody {

      tr:not(.loading) {
        td {
          position: relative;
          padding-left: 50%;

          text-align: left;
          font-size: $font-size-base;
          min-height: 48px;
          box-sizing: border-box;

          &:last-of-type {
            border-bottom: 1px solid $graphite-color-60;
          }

          &:before {
            content: attr(title);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 45%;
            padding: 12px $gutter-normal;
            white-space: nowrap;
            box-sizing: border-box;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: $font-weight-bold;
            color: white;
            font-size: $font-size-base;
            text-align: left;
          }
        }
      }
    }
  }
}