@import "variables";

.tip {
    &.info {
        border: 2px solid $primary-light-color;
        border-radius: $corner-base;
        padding: $gutter-small $gutter-normal;
        background: white;
        font-size: .85em;
    }
}