@import "variables";

a {
    cursor: pointer;
    color: $primary-text-color;

    &.default {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        line-height: 1.25em;
        border-bottom: 1px solid $primary-text-color;

        &.with-icon {

            .icon {
                svg {
                    stroke: $primary-dark-color;
                }

                &.left {
                    margin-right: $gutter-small;
                }

                &.right {
                    margin-left: $gutter-small;
                }
            }
        }

        &:visited {
            color: $primary-text-color;
        }
    }
}

.informer.errors {
    @include vertical-stack();
    color: white;
    font-size: $font-size-big;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}